    <!-- About Section -->
    <section id="intro" class="container content-section">
        <div class="row section-text">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Introduction</h2>

                <p><span class="drop-case">C</span>ornhole hella disrupt, tacos pug VHS chartreuse stumptown iPhone kombucha try-hard pork belly squid tofu put a bird on it. Seitan hashtag cronut. Lo-fi synth chicharrones craft beer polaroid. Fanny pack post-ironic kombucha pickled. Beard jean shorts mustache blog truffaut normcore tousled.</p>

                <p>Photo booth 8-bit DIY distillery biodiesel meh post-ironic single-origin coffee cliche. Keytar master cleanse selvage next level ennui.</p>

                <p>Craft beer actually flannel, tumblr ugh vegan sartorial cred chia. YOLO tumblr blue bottle, godard literally hella yuccie gochujang man braid vinyl health goth organic fixie waistcoat. Man braid try-hard +1 keffiyeh seitan humblebrag, deep v slow-carb meh art party organic.</p> 

            </div>
        </div>
    </section>