<!-- Navigation for static pages, where chapters aren't needed -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" href="#page-top">
                    <div class="dropdown" style="display: inline-block;">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">☰</button>
                      <ul class="dropdown-menu">
                        <li><a href="/about">About</a></li>
                        <li><a href="/extras">Extras</a></li>
                        <li><a href="/contact">Contact</a></li>
                      </ul>
                    </div>
                    <a style="display: inline-block;" href="/">DARK SKIES</a>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>